body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #eddec4;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #5a360d;
}
.Header-div {
    width: 100%;
    height: 100px;
    background-color: #5a360d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding shadow */
}
.Logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border-radius: 50%;
    transition: opacity 0.3s;
}
.Logo:hover
{
    cursor: pointer;
}
.Logo:active
{
    opacity: 0.5;
}
.search-bar
{
    width: 25%;
    height: 40px;
    position: absolute;
    left: 63%;
    border: none;
    border-radius: 15px;
    background-color: #eddec4;
    font-size: 20px;
    text-align: center;
    color: #5a360d;
}
.heading-css
{
    color: #eddec4;
    position: absolute;
    left: 8%;
    font-size: 30px;
    align-self: center      ;
}
.profile-css
{
    position: absolute;
    right: 5%;
    color: #eddec4;
    transition: opacity 0.3s;
}
.profile-css:hover
{
    cursor: pointer;
}
.profile-css:active
{
    opacity: 0.5;
}
.container {
    max-width: 80%;
    margin-top: 120px;
    align-self: center;
    text-align: center;
    padding: 50px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 40px;
    margin: 2px 0;
    margin-bottom: 20px;
    color: #5a360d;
}
.left-aligned {
    text-align: left;
    margin-bottom: 30px;
    color: #5a360d;
}
.subheading {
    font-size: 24px;
    margin: 15px 0;
    color: #5a360d;
}
.image-row {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}
.image-wrapper {
    border: 2px solid #5a360d;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    height: 400px;
}
.image-wrapper img {
    display: block;
    width: 200px;
    height: auto;
    border-radius: 5px;
}
.image-wrapper:hover {
    background-color: #5a360d;
    border-color: #eedece;
}
.show-more-button {
    margin-top: 30px;
    border: none;
    background-color: #5a360d;
    padding: 15px 30px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 5px;
}
.show-more-button:hover {
    background-color: #855f34;
    color: #fff;
}
.show-more-button:active {
    opacity: 0.5;
}
.wishlist-button
{
    background-color: #ffffff;
    color: #5a360d;
    border: 2px solid black;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 5px;
}
.wishlist-button:hover {
    background-color: #855f34;
    color: #fff;
}
.wishlist-button:active {
    opacity: 0.5;
}