body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #eddec4;
    display: flex;
    flex-direction: column;
}
.title-text {
    color: #5a360d;
    font-family: Roboto;
    font-size: 100px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: left;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.picture1
{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 13%;   
    left: 76%;
    border-radius: 10px;
    border-style:double;
    border-width: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
}
.picture2
{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 33%;   
    left: 53%;
    border-radius: 10px;
    border-style:double;
    border-width: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
}
.picture3
{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 49%;   
    left: 76%;
    border-radius: 10px;
    border-style:double;
    border-width: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
}
.sign-up-button
{
    width: 150px;
    height: 40px;
    position: absolute;
    top: 85%;
    left: 23%;
    background-color: rgb(105, 63, 16);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    transition: opacity 2s;
}
.sign-up-button:hover
{
    cursor: pointer;
}
.sign-up-button:active
{
    opacity: 0.4;
}
.logo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border-radius: 50%;
    transition: opacity 0.3s;
}
.logo:hover
{
    cursor: pointer;
}
.logo:active
{
    opacity: 0.5;
}