body {
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
    background-color: #eddec4;
}
.wishlist {
    max-width: 1200px;
    margin: auto;
}
.wishlist h1 {
    position: absolute;
    top: 14%;
    text-align: left;
    color: #5a360d;
}
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.product {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}
.product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.owner-name, .address, .price {
    margin-top: 10px;
    align-self: center;
    color: #5a360d;
}
.main-heading {
    text-align: center;
    color: #333;
    position: absolute;
}
.product1 {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 25%;   
    left: 8%;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
    cursor: pointer;
}
.product2 {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 25%; 
    left: 40%;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
    cursor: pointer;

}
.product3 {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 25%; 
    left: 72%;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
    cursor: pointer;
}
.product4 {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 90%; 
    left: 8%;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
    cursor: pointer;
}
.product5 {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 90%; 
    left: 40%;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
    cursor: pointer;
}
.product6 {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 90%; 
    left: 72%;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
    cursor: pointer;
}
.product7 {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 155%; 
    left: 8%;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
    cursor: pointer;
}
.product8 {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 155%; 
    left: 40%;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
    cursor: pointer;
}
.product9 {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 155%; 
    left: 72%;
    border-radius: 7px;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: auto;
    cursor: pointer;
}
.Header-div {
    width: 100%;
    height: 100px;
    background-color: #5a360d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .Logo {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50%;
    transition: opacity 0.3s;
  }
  
  .Logo:hover {
    cursor: pointer;
  }
  
  .Logo:active {
    opacity: 0.5;
  }
  
  .search-bar {
    width: 25%;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #eddec4;
    font-size: 20px;
    text-align: center;
    color: #5a360d;
  }
  
  .heading-css {
    color: #eddec4;
    font-size: 30px;
    margin: 0 20px;
  }
  
  .profile-css {
    color: #eddec4;
    transition: opacity 0.3s;
    margin-left: 60px;
  }
  
  .profile-css:hover {
    cursor: pointer;
  }
  
  .profile-css:active {
    opacity: 0.5;
  }